# Environment variables
.env
.env.local
*.env

# Python and Virtual Environments
.venv/
venv/
__pycache__/
*.pyc

# Data dumps (You probably don't want to upload the entire catalog JSON)
catalog.json

# Next.js and Node builds
.next/
node_modules/.DS_Store
